@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transition: 150ms;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .back {
  transform: rotateY(180deg);
}

::-webkit-scrollbar {
  border-radius: 6px;
  width: 6px; /* width of the entire scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #f1f1f1; /* color of the tracking area */
}

/* Style the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #8B5CF6; /* color of the scroll thumb */
}
